<h2>Collateral is a pound of flesh</h2>

<form action="/stock" method="get">
  <input type="sign" name="abbrev" placeholder="Stock Abbreviation">
  <button>Get Stock Quote</button>
</form>

<p class="quote"><%=@everything %> latest traded price is <%= @quote %></p>

